@font-face {
  font-family: 'PopFont';
  src: url(BaksoSapi.otf);
}
*{
  font-family: PopFont;
}
body {
background-image: url("BackgroundImages/Flowers.png");
background-color:#3caea3;
background-size: cover;
background-attachment: fixed;
background-repeat: no-repeat;
}
.title{
  display: flexbox;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding-right: 15px;
  padding-left: 15px;
  max-width: 100%;
}
.titleimage{
  width: 100%;
}
.navbar{
  display: flexbox;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.navlink, .navlink:link, .navlink:active, .navlink:visited{
  font-size: 20pt;
  width: auto;
  display: inline-flex;
  font-family: PopFont;
  text-decoration: none;
  color: #faf9f9;
  padding-right: 15px;
  padding-left: 15px;
  margin: auto;
  text-align: center;
  text-shadow: -3px 1px 0px #ED553B,
                -6px 2px 0px #F6D55C,
                 -9px 3px 0px #20639B,
                 -12px 4px 0px #173F5F;
}
.navlink:hover{
  color:#173F5F;
  text-shadow: -3px 1px 0px #20639B,
                 -9px 3px 0px #F6D55C,
                 -12px 4px 0px #ED553B;
}

.portfolioheader{
  display: flexbox;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding-right: 15px;
  padding-left: 15px;
  max-width:100%;
}
.Table{
  display: flexbox;
  text-align: center;
  align-items: center;
  justify-content: center;

}

.imagesize{
  width: 40%;
  height: auto;
  padding-right: 15px;
  padding-left: 15px;
  margin: auto;
  max-width: 100%;
}
.imagesize2{
  width: 25%;
  height: 25%;
  padding-right: 15px;
  padding-left: 15px;
  margin: auto;
  max-width: 100%;
}
.imagesize3{
  width: 25%;
  height: 25%;
  padding-left: 75px;
  max-width: 100%;
}
Header{
  text-align: center;
  color: #FB9F24;
  font-size: 25px;
}
