*{
  font-family:Andale Mono, monospace;

}
.Container{
    width: 90%;
    min-width: 500px;
    margin: auto;
}
@font-face {
  font-family: 'PopFont';
  src: url(BaksoSapi.otf);
}

body {
background-image: url("BackgroundImages/Flowers.png");
background-color:#3caea3;
background-size: cover;
background-attachment: fixed;
background-repeat: no-repeat;
}
.title{
  display: flexbox;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding-right: 15px;
  padding-left: 15px;
  max-width:100%;
}
.navbar{
  display: flexbox;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.navlink, .navlink:link, .navlink:active, .navlink:visited{
  font-size: 20pt;
  width: auto;
  display: inline-flex;
  font-family: PopFont;
  text-decoration: none;
  color: #faf9f9;
  padding-right: 15px;
  padding-left: 15px;
  margin: auto;
  text-align: center;
  text-shadow: -3px 1px 0px #ED553B,
                -6px 2px 0px #F6D55C,
                 -9px 3px 0px #20639B,
                 -12px 4px 0px #173F5F;
}
.navlink:hover{
  color:#173F5F;
  text-shadow: -3px 1px 0px #20639B,
                 -9px 3px 0px #F6D55C,
                 -12px 4px 0px #ED553B;
}
.Intro{
  padding-right: 15px;
  padding-left: 15px;
  margin: auto;
  max-width: 100%;
  display: flexbox;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.text{
  font-family: PopFont;
  color: #FFFFFF;
  text-shadow: -3px 1px 0px #ED553B;
  font-size: 150%;
}
.bullets{
  padding-right: 15px;
  padding-left: 15px;
  margin: auto;
  max-width: 100%;
  display: flexbox;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.list{
  font-family: PopFont;
  color: #FFFFFF;
  text-shadow: -3px 1px 0px #ED553B;
  font-size: 150%;
}
ul {
    text-align: center;
    list-style-position: inside;
}

.works_1{
  padding-right: 15px;
  padding-left: 15px;
  margin: auto;
  max-width: 100%;
  display: flexbox;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.works_2{
  padding-right: 15px;
  padding-left: 15px;
  margin: auto;
  max-width: 100%
  display: flexbox;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.works_2{
  padding-right: 15px;
  padding-left: 15px;
  margin: auto;
  max-width: 100%
  display: flexbox;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.works_3{
  padding-right: 15px;
  padding-left: 15px;
  margin: auto;
  max-width: 100%
  display: flexbox;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.imagesize{
  width: 28%;
  height:auto;

}

Header{
  text-align: center;
  color: #FB9F24;
  font-size: 25px;
}


Nav{
  font-size: 24px;
  color: #FB9F24;

}
video{
  flex-wrap: wrap;
  margin-right: auto;
  max-width: 100%
}
img {
  flex-wrap: wrap;
  margin-right: auto;
  max-width: 100%;
}
